<%# Display the main image if attached %>
<% if @portfolio.main_image.present? %>
  <%= image_tag @portfolio.main_image, alt: "Portfolio Image", class: "img-fluid" %>
<% end %>
<h1><%= @portfolio.title %></h1>
<em><%= @portfolio.subtitle %></em>
<p><%= @portfolio.body %></p>

<h2>Technologies Used:</h2>
<%@portfolio.technologies.each do|t|%>
<p><%= t.name %></p>
<% end %>