<div class="container py-5">
  <div class="row">
    <div class="col-md-6 mb-4">
      
        <%= image_tag portfolio_img(@portfolio.thumb_image, 'main'), class: "img-fluid rounded shadow" %>

    </div>
    <div class="col-md-6">
      <h1 class="display-4"><%= @portfolio.title %></h1>
      <em class="text-muted h5"><%= @portfolio.subtitle %></em>
      <p class="mt-4"><%= @portfolio.body %></p>
      <h2 class="mt-5">Technologies Used:</h2>
      <div class="mb-4">
        <% @portfolio.technologies.each do |t| %>
          <span class="badge badge-pill badge-info mr-2 mb-2 px-3 py-2"><%= t.name %></span>
        <% end %>
      </div>
    </div>
  </div>
</div>
